In [184]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [185]:
df = pd.read_csv('yield_df.csv')

In [186]:
df.head()

,Unnamed: 0,area,item,year,yield,avg_rain,fertilizer,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [187]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [188]:
df.shape

(28242, 7)

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        28242 non-null  object
 1   item        28242 non-null  object
 2   year        28242 non-null  int64
 3   yield       28242 non-null  int64
 4   avg_rain    28242 non-null  float64
 5   fertilizer  28242 non-null  float64
 6   avg_temp    28242 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.5+ MB

In [190]:
df.isnull().sum()

area          0
item          0
year          0
yield         0
avg_rain      0
fertilizer    0
avg_temp      0
dtype: int64

In [191]:
df.duplicated().sum()

2310

In [192]:
df.drop_duplicates(inplace=True)

In [193]:
df.duplicated().sum()

0

# Average rainfall check

In [194]:
def isStr(obj):
    try:
        float(obj)
        return False
    except:
        return True
drop_rows = df[df['avg_rain'].apply(isStr)].index

In [195]:
df = df.drop(drop_rows)

In [196]:
df['avg_rain'] = df['avg_rain'].astype(np.float64)

# Country-wise yield

In [197]:
country = df['area'].unique()
yield_per_country = []
for state in country:
    yield_per_country.append(df[df['area']==state]['yield'].sum())

In [198]:
df['yield'].sum()

1996196943

In [199]:
yield_per_country

[5711536,
 6711464,
 5722563,
 32864032,
 4524100,
 109111062,
 10852258,
 4608380,
 4384717,
 4443889,
 7720159,
 4704812,
 8442270,
 470651,
 136340329,
 6263075,
 6083337,
 7031146,
 10717883,
 34706922,
 4255627,
 20561214,
 26927138,
 6083167,
 10701651,
 25312166,
 21315591,
 36828848,
 16855944,
 1452416,
 3595638,
 6210668,
 15790618,
 38780463,
 9260371,
 14571925,
 16508723,
 7975743,
 8361103,
 8619194,
 10920131,
 8824110,
 274219558,
 68067328,
 10984722,
 9104030,
 32280700,
 19698007,
 100924145,
 9965212,
 14391737,
 3698588,
 6956804,
 4258932,
 9016288,
 4174348,
 6103523,
 8346715,
 7934982,
 15106720,
 4465841,
 12684212,
 113698872,
 1645100,
 22173010,
 6964027,
 3165475,
 4113713,
 14086433,
 17657728,
 12819227,
 12316327,
 6721305,
 49264956,
 10729929,
 15201910,
 6564711,
 12154347,
 5995626,
 6006156,
 7741053,
 15171886,
 10342677,
 7197013,
 30999849,
 46773540,
 11217741,
 1896346,
 14786468,
 8620653,
 13336346,
 6295210,
 9511720,
 3724246,
 52263950,
 7494314,
 5496901,
 44335992,
 9539820,
 7254311,
 7408629]

# Train-Test split

In [200]:
col = ['year', 'avg_rain','fertilizer', 'avg_temp', 'area', 'item', 'yield']
df = df[col]
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [201]:
df.head(3)

   year  avg_rain  fertilizer  avg_temp     area         item  yield
0  1990    1485.0       121.0     16.37  Albania        Maize  36613
1  1990    1485.0       121.0     16.37  Albania     Potatoes  66667
2  1990    1485.0       121.0     16.37  Albania  Rice, paddy  23333

In [202]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0, shuffle=True)

# Converting Categorical values to Numerical values and Scaling

In [203]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder(drop='first')
scale = StandardScaler()

preprocesser = ColumnTransformer(
        transformers = [
            ('StandardScale', scale, [0, 1, 2, 3]),
            ('OHE', ohe, [4, 5]),
        ],
        remainder='passthrough'
)

In [204]:
X_train_dummy = preprocesser.fit_transform(X_train)
X_test_dummy = preprocesser.transform(X_test)

In [205]:
preprocesser.get_feature_names_out(col[:-1])

array(['StandardScale__year', 'StandardScale__avg_rain',
       'StandardScale__fertilizer', 'StandardScale__avg_temp',
       'OHE__area_Algeria', 'OHE__area_Angola', 'OHE__area_Argentina',
       'OHE__area_Armenia', 'OHE__area_Australia', 'OHE__area_Austria',
       'OHE__area_Azerbaijan', 'OHE__area_Bahamas', 'OHE__area_Bahrain',
       'OHE__area_Bangladesh', 'OHE__area_Belarus', 'OHE__area_Belgium',
       'OHE__area_Botswana', 'OHE__area_Brazil', 'OHE__area_Bulgaria',
       'OHE__area_Burkina Faso', 'OHE__area_Burundi',
       'OHE__area_Cameroon', 'OHE__area_Canada',
       'OHE__area_Central African Republic', 'OHE__area_Chile',
       'OHE__area_Colombia', 'OHE__area_Croatia', 'OHE__area_Denmark',
       'OHE__area_Dominican Republic', 'OHE__area_Ecuador',
       'OHE__area_Egypt', 'OHE__area_El Salvador', 'OHE__area_Eritrea',
       'OHE__area_Estonia', 'OHE__area_Finland', 'OHE__area_France',
       'OHE__area_Germany', 'OHE__area_Ghana', 'OHE__area_Greece',
       'OHE__area_Guatemala', 'OHE__area_Guinea', 'OHE__area_Guyana',
       'OHE__area_Haiti', 'OHE__area_Honduras', 'OHE__area_Hungary',
       'OHE__area_India', 'OHE__area_Indonesia', 'OHE__area_Iraq',
       'OHE__area_Ireland', 'OHE__area_Italy', 'OHE__area_Jamaica',
       'OHE__area_Japan', 'OHE__area_Kazakhstan', 'OHE__area_Kenya',
       'OHE__area_Latvia', 'OHE__area_Lebanon', 'OHE__area_Lesotho',
       'OHE__area_Libya', 'OHE__area_Lithuania', 'OHE__area_Madagascar',
       'OHE__area_Malawi', 'OHE__area_Malaysia', 'OHE__area_Mali',
       'OHE__area_Mauritania', 'OHE__area_Mauritius', 'OHE__area_Mexico',
       'OHE__area_Montenegro', 'OHE__area_Morocco',
       'OHE__area_Mozambique', 'OHE__area_Namibia', 'OHE__area_Nepal',
       'OHE__area_Netherlands', 'OHE__area_New Zealand',
       'OHE__area_Nicaragua', 'OHE__area_Niger', 'OHE__area_Norway',
       'OHE__area_Pakistan', 'OHE__area_Papua New Guinea',
       'OHE__area_Peru', 'OHE__area_Poland', 'OHE__area_Portugal',
       'OHE__area_Qatar', 'OHE__area_Romania', 'OHE__area_Rwanda',
       'OHE__area_Saudi Arabia', 'OHE__area_Senegal',
       'OHE__area_Slovenia', 'OHE__area_South Africa', 'OHE__area_Spain',
       'OHE__area_Sri Lanka', 'OHE__area_Sudan', 'OHE__area_Suriname',
       'OHE__area_Sweden', 'OHE__area_Switzerland',
       'OHE__area_Tajikistan', 'OHE__area_Thailand', 'OHE__area_Tunisia',
       'OHE__area_Turkey', 'OHE__area_Uganda', 'OHE__area_Ukraine',
       'OHE__area_United Kingdom', 'OHE__area_Uruguay',
       'OHE__area_Zambia', 'OHE__area_Zimbabwe', 'OHE__item_Maize',
       'OHE__item_Plantains and others', 'OHE__item_Potatoes',
       'OHE__item_Rice, paddy', 'OHE__item_Sorghum', 'OHE__item_Soybeans',
       'OHE__item_Sweet potatoes', 'OHE__item_Wheat', 'OHE__item_Yams'],
      dtype=object)

# Let's train our model

In [206]:
#linear regression
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor(),
    'knn':KNeighborsRegressor(),
    'Rdf':RandomForestRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)} mse: {mean_squared_error(y_test, y_pred)}")

lr : mae : 29907.447350409722 score : 0.7473125540079992 mse: 1817342943.5139735

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:589: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 67280771830.0, tolerance: 14848622817.505169
  model = cd_fast.sparse_enet_coordinate_descent(

lss : mae : 29893.99762450549 score : 0.7473261756207235 mse: 1817244976.0757167
Rid : mae : 29864.85302468091 score : 0.7473042393527811 mse: 1817402743.0023456
Dtr : mae : 3958.9863119336806 score : 0.979164163493168 mse: 149852559.15365335
knn : mae : 4616.9047619047615 score : 0.9849925066819024 mse: 107934772.83529592
Rdf : mae : 3696.1291690765374 score : 0.9879469510459195 mse: 86686235.55291359

# Select model

In [207]:
Rdf = RandomForestRegressor()
Rdf.fit(X_train_dummy,y_train)
Rdf.predict(X_test_dummy)

array([38887.53, 24072.64, 21425.69, ..., 20598.76, 34850.  , 91670.85])

# Predictive System

In [208]:
def prediction(Year, avg_rain, fertlizer, avg_temp, Area, Item):
    features = np.array([[Year, avg_rain, fertlizer, avg_temp, Area, Item]], dtype=object)
    transformed_features = preprocesser.transform(features)
    predicted_yield = Rdf.predict(transformed_features).reshape(1, -1)

    return predicted_yield[0]

Year = 1990
avg_rain =1485.0
fertlizer = 121.00
avg_temp = 16.37                   
Area = 'India'
Item = 'Maize'
result = prediction(Year, avg_rain, fertlizer, avg_temp, Area, Item)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [209]:
result

array([32638.79])

# Pickle Files

In [210]:
import pickle
pickle.dump(Rdf,open('rdf.pkl','wb'))
pickle.dump(preprocesser,open('preprocessor.pkl','wb'))